.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* dark backdrop */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-modal {
    background: #0B2D45;
    color: #FFF;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
}

.custom-modal button:first-child {
    background: transparent;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    font-size: 10px;
    float: right;
    cursor: pointer;
}