<div class="main-background">
    <div class="select-company-container">
        <h1 class="select-company-header header-text">SELECT COMPANY</h1>

        <select (change)="onCompanyChange($event)" name="company" class="dropdown header-text company-dropdown">
            <option value="" disabled selected>Pick an option</option>
            <option *ngFor="let company of companies" [value]="company.id">
                {{ company.name }}
            </option>
        </select>

        <button (click)="submitCompany()" class="submit-button">Submit</button>
    </div>
</div>