.navbar {
  font-family: "Poiret One", sans-serif;
  font-style: normal;
  border-bottom: 2px solid #deb992;
  letter-spacing: 1px;
}

span {
  color: #fecd4c;
  font-size: 20px;
  margin-left: 20px;
}

img {
  transition: rotate 0.3s ease;
}

img:hover {
  rotate: 90deg;
}
